/* Global styles */

* {
    font-family: "Forum", serif;
}

body {
    background-color: white;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    letter-spacing: 1.2px;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    margin-top: 0;
}

.logo {
    height: 40px;
    padding-right: 15px;
}

/* Quiz container */

.quiz-container {
    box-sizing: border-box;
    width: 90vw;
    height: 66vh;
    margin-left: auto;
    margin-right: auto;
}

.intro-to-quiz {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 55vh;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    border-radius: 15%;
    padding: 0 10px;
    /* box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36); */
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin-bottom: 15px;
}

#flag-image {
    height: 240px;
}

.flag {
    border-radius: 0.5em;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.answer-container {
    display: flex;
    width: 90vw;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.counter-container {
    background-color: #009edb;
    width: 90vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 150%;
}

.btn {
    background-color: #009edb;
    color: black;
    padding: 30px 60px;
    font-size: 150%;
    font-weight: bold;
    border: 1px transparent;
    border-radius: 15px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.correct {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}

.hide {
    display: none;
}

.correct-counter {
    background-color: white;
    color: green;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
}

.incorrect-counter {
    background-color: white;
    color: red;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
}

.counter {
    background-color: white;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

/* --------- Media queries */

@media (max-width: 280px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .intro-to-quiz {
        font-size: 75%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 50%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }
}