/* Global styles */

* {
    font-family: "Forum", serif;
}

body {
    background-color: white;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    letter-spacing: 1.2px;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    margin-top: 0;
}

.logo {
    height: 40px;
    padding-right: 15px;
}

/* Quiz container */

.quiz-container {
    box-sizing: border-box;
    width: 90vw;
    height: 66vh;
    margin-left: auto;
    margin-right: auto;
}

.intro-to-quiz {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 55vh;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    border-radius: 15%;
    padding: 0 10px;
    /* box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36); */
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin-bottom: 15px;
}

#flag-image {
    height: 240px;
}

.flag {
    border-radius: 0.5em;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.answer-container {
    display: flex;
    width: 90vw;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.counter-container {
    background-color: #009edb;
    width: 90vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 150%;
}

.btn {
    background-color: #009edb;
    color: black;
    padding: 30px 60px;
    font-size: 150%;
    font-weight: bold;
    border: 1px transparent;
    border-radius: 15px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.correct {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}

.hide {
    display: none;
}

.correct-counter {
    background-color: white;
    color: green;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
}

.incorrect-counter {
    background-color: white;
    color: red;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
}

.counter {
    background-color: white;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

/* --------- Media queries */
@media screen and (min-width: 280px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .intro-to-quiz {
        font-size: 100%;
        width: 75vw;
        height: 55vh;
    }

    .flag {
        height: 50%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }
}

@media screen and (min-width: 320px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .intro-to-quiz {
        font-size: 100%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 55%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 375px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .intro-to-quiz {
        font-size: 100%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 60%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 425px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .intro-to-quiz {
        font-size: 100%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 65%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 768px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .logo {
        height: 45px;
        padding-right: 17.5px;

    }

    .intro-to-quiz {
        font-size: 125%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 75%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 1024px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
    }

    .logo {
        height: 50px;
        padding-right: 20px;

    }

    .intro-to-quiz {
        font-size: 150%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 100%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 1440px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .logo {
        height: 55px;
        padding-right: 22.5px;

    }

    .intro-to-quiz {
        font-size: 175%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 125%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}

@media screen and (min-width: 2560px) {
    .heading {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
    }

    .logo {
        height: 150px;
        padding-right: 100px;

    }

    .intro-to-quiz {
        font-size: 350%;
        width: 75vw;
        height: 55vh;
    }

    .counter-container {
        font-size: .5rem;
    }

    .correct-counter,
    .incorrect-counter {
        height: 10px;
    }

    .counter {
        height: 20px;
    }

    .flag {
        height: 200%;
    }

    .answer-button .btn {
        padding: 5px 10px;
        font-size: 100%;
    }

    #start-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;
    }

    #next-button {
        padding: 2.5px 30px 1px;
        font-size: 100%;
        height: 50%;

    }
}